@use "../custom" as *;

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

.nav-item {
  a {
    font-size: 1.3rem;
  }
}

// START STYLING FOR HEADING
.heading::after {
  content: "";
  height: 0.01rem;
  width: 6rem;
  padding-top: 0.001rem;
  display: block;
  margin-top: 0.5rem;
  // margin-bottom: 1rem;
  background-color: $gray-600;
}
